.uploadButton{
  display: block!important;
  width: 40%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  input{
    display: none;
  }
}